/* Home.css */
.home-container {
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
  background-color: #343a40; 
}

.half-height-row {
  height: 45vh; /* 50% of viewport height minus the navbar */
}

.rule-container {
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
  background-color: #343a40; 
  display: flex;
}

h3{
  padding-left: 5%;
}

.flex-column {
  width: 250px;
  background-color: rgb(33, 37, 41);
  text-align: center;
}